.cart{
  position: sticky;
  top: 0;
  margin: 30px 20px;
}

.cart button{
  margin-bottom: 10px;
}

.btn-clear, .btn-review{
  color: white;
  width: 232px;
  height: 48px;
  border-radius: 6px;
  border: none;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-clear{
  background-color: #FF3030;
}

.btn-review{
  background-color: #FF9900;
  ;
}

.btn-clear .btn-text, 
.btn-review .btn-text{
  margin-right: 5px;
}